h1
{
    text-align: center;
    font-size: 45px;
}

form
{
    text-align: center;
}

body
{
    background-color: aliceBlue;
}


img {
    height: 80px;
    align-content: center;
}

button {
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    padding: 0.5%;
}

