<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Web App</title>
        <link rel="stylesheet" href="../static/css/styleConsult.css" type="text/css" media="all"/>
        <script src="../static/js/appConsult.js" type="text/javascript"  charset=utf-8></script>
        
    </head>
    <body>
        <h1>Consult User</h1>
        
        <div>
            <img src="../static/images/consultImage.png"/>
            
            <div>
                <label>Id</label> <input type="number" id="id"/><br/><br/>
                <textarea id="txt_data"></textarea><br/><br/>
                <div>
                    <img src="" id="photoUser"></img>
                </div>
                <button onClick="{consult_user()}">Consult</button>
            </div>
        </div>
        
    </body>
</html>